@model List<SMS.DataContext.Entities.EnquiryStatus>
@{
    ViewBag.Title = "Enquiry Status";
}
<div id="page-wrapper" style="min-height: 390px;">
    <div class="main-page">
        <div class="forms">
            <div class="form-three widget-shadow" style="padding:0px;">
                <div class="form-title">
                    <h4>Enquiry Status Management</h4>
                </div>
                <div class="panel-body-inputin" style="padding:10px 0px 0px 0px;">
                 @Html.Partial("~/Views/Shared/_EnquiryStatus.cshtml", Model)
                </div>
                <div class="form-title">
                    <h4>Enquiry Status Detail</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped" id="tblEnquiryStatus">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th class="hidden">Enquiry Status ID</th>
                                    <th>Enquiry Status Name</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td><a href="javascript:void(0);" onclick="deleteDialog('EnquiryStatus','../Enquiry/EnquiryStatusDelete','@Model[i].EnquiryStatusID','@Model[i].EnquiryStatusName')" class="btn btn-sm btn-danger">Delete</a> <a class="btn btn-sm btn-primary" href="javascript:void(0);" onclick="edit('EnquiryStatus',this)">Edit</a> </td>
                                            <td id="EnquiryStatusID" class="hidden">@Model[i].EnquiryStatusID</td>
                                            <td id="EnquiryStatusName">@Model[i].EnquiryStatusName</td>
                                            <td id="Remarks">@Model[i].Remarks</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





