@model List<SMS.DataContext.Entities.Job>
@{
    ViewBag.Title = "Jobs";
}
@*
*@

<div id="page-wrapper" style="min-height: 390px;">
    <div class="main-page">
        <div class="forms">
            <div class="form-three widget-shadow" style="padding:0px;">
                <div class="form-title">
                    <h4>Job Management</h4>
                </div>
                <div class="panel-body-inputin" style="padding:10px 0px 0px 0px;">
                    <form class="form-horizontal" id="frmJob">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" name="JobID" />
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Name</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-product-hunt"></i>
                                            </span>
                                            <input required type="text" class="form-control1" placeholder="Name" name="JobName">
                                        </div>
                                    </div>
                                </div>
                                <input type="button" class="btn btn-success" id="btnCreateJob" onclick="create('Job','',true)" value="Create" />
                                <input type="button" class="btn btn-primary hidden" id="btnEditJob" onclick="update('Job','',true)" value="Update" />
                                <input type="button" class="btn btn-info" id="btnClearJob"
                                       onclick="clearForm('Job');" value="Clear" />
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Remarks</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-icon right">
                                            <span class="input-group-addon">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                            <textarea id="txtRemarks" class="form-control" type="text" placeholder="Remarks" name="Remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-title">
                    <h4>Job Details</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped" id="tblJob">
                            <thead>

                                <tr>
                                    <th>Action</th>
                                    <th class="hidden">Job Name</th>
                                    <th>Job Name</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td><a href="javascript:void(0);" onclick="deleteDialog('Job','','@Model[i].JobID','@Model[i].JobName')" class="btn btn-sm btn-danger">Delete</a> <a class="btn btn-sm btn-primary" href="javascript:void(0);" onclick="edit('Job',this)">Edit</a> </td>
                                            <td id="JobID" class="hidden">@Model[i].JobID</td>
                                            <td id="JobName">@Model[i].JobName</td>
                                            <td id="Remarks">@Model[i].Remarks</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

