@model List<SMS.DataContext.Entities.BankAccountType>
@{
    ViewBag.Title = "Bank Account Type";
}
<div id="page-wrapper" style="min-height: 390px;">
    <div class="main-page">
        <div class="forms">
            <div class="form-three widget-shadow" style="padding:0px;">
                <div class="form-title">
                    <h4>Bank Account Type Management</h4>
                </div>
                <div class="panel-body-inputin" style="padding:10px 0px 0px 0px;">
                    <form class="form-horizontal" id="frmBankAccountType">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" name="BankAccountTypeID" />
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input required type="text" class="form-control1" name="BankAccountTypeName" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <input type="button" class="btn btn-success" id="btnCreateBankAccountType" onclick="create('BankAccountType', 'Common/BankAccountTypeCreate',true)" value="Create" />
                                <input type="button" class="btn btn-primary hidden" id="btnEditBankAccountType" onclick="update('BankAccountType', 'Common/BankAccountTypeEdit',true)" value="Update" />
                                <input type="button" class="btn btn-info" id="btnClearBankAccountType"
                                       onclick="clearForm('BankAccountType')" value="Clear" />
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remarks</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-icon right">
                                            <span class="input-group-addon">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                            <textarea id="" class="form-control" type="text" placeholder="Remarks" name="Remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-title">
                    <h4>Banks Detail</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped" id="tblBankAccountType">
                            <thead>

                                <tr>
                                    <th>Action</th>
                                    <th class="hidden">Bank ID</th>
                                    <th>Bank Account Type</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td><a href="javascript:void(0);" onclick="deleteDialog('BankAccountType','../Common/BankAccountTypeDelete','@Model[i].BankAccountTypeID','@Model[i].BankAccountTypeName')" class="btn btn-sm btn-danger">Delete</a> <a class="btn btn-sm btn-primary" href="javascript:void(0);" onclick="edit('BankAccountType',this)">Edit</a> </td>
                                            <td id="BankAccountTypeID" class="hidden">@Model[i].BankAccountTypeID</td>
                                            <td id="BankAccountTypeName">@Model[i].BankAccountTypeName</td>
                                            <td id="Remarks">@Model[i].Remarks</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

